# Next.js
.next
out

# Dependency directories
/node_modules

# Build files
/build

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Compiled output
/dist
/.next

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
